@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #0f0f10;
  --secondary-color: #18181B;
  --background-color: #5b13e2;
  --text-color: #dddddd;
  --text-color-light: #fd8450;
  --text-color-dark: #414144;

}

body{
  background-color: #0f0f10;
}

